.option {
    background-color: #03045E;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: .4s;
}

.option:hover {
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #80ED99;
    font-weight: bold;
}

.wrong {
    background-color: #D62828;
    opacity: .5;
}

.hide {
    display: none;
}