* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #6272A4;
}

body,
html {
    min-height: 100vh;
    height: 100%;
    background-color: #282a36;
}

img {
    max-width: 100%;
}

button {
    font-weight: bold;
    font-size: 100%;
    color: #6272A4;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    background: #8BE9FD
    border-radius: 3rem;
    border: none;
}

button:hover {
    background: linear-gradient(
        90deg,
        rgba(144, 224, 239, 1) 0%,
        rgba(0, 180, 216, 1) 100%
    );
}
